/* Variables */
/* Global */
h2, h3 {
  font-family: "Vidaloka", serif;
  font-size: 30px;
}

p {
  font-family: "Cormorant Garamond", serif;
  font-size: 22px;
  color: #bdc3c7;
  line-height: 0.9;
}

/* Header */
.header {
  background-image: url(https://images.pexels.com/photos/1841841/pexels-photo-1841841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  object-fit: contain;
  height: 100vh;
  padding: 20px 20px;
}

.header .col-md-3 h2 {
  font-family: "Dancing Script", cursive;
  color: #f39c12;
  font-size: 22px;
  padding-left: 50px;
}

.header li {
  list-style-type: none;
  display: inline-block;
  float: right;
}

.header a {
  font-family: "Satisfy", cursive;
  text-decoration: none;
  color: #bdc3c7;
  font-size: 18px;
  padding: 10px 30px;
}

.header .col {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.header .col h2, .header .col h3 {
  font-family: "Cuprum", sans-serif;
  color: #bdc3c7;
  text-align: center;
}

.header h3 {
  font-size: 40px;
  font-weight: bold;
}

.header .btn-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.header .btn-header .btn {
  background-color: #f39c12;
  font-weight: bold;
  border: none;
  border-radius: 0;
}

/* Services */
.services {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.services .col-12 {
  margin-top: 70px;
}

.services .col-12 h3 {
  font-size: 40px;
  font-weight: bold;
}

.services .col-md-4 {
  margin: 100px auto;
}

.services .col-md-4 h3 {
  font-size: 22px;
  font-weight: bolder;
}

.services .col-md-4 i {
  font-size: 50px;
  margin: 10px 0;
  padding-bottom: 10px;
  color: #f39c12;
}

/* Portfolio */
.portfolio {
  background-color: #f1f2f6;
}

.portfolio .card {
  margin-bottom: 50px;
}

.portfolio .col-12 {
  margin: 50px 0;
  text-align: center;
}

.portfolio .col-12 h2 {
  font-size: 40px;
  font-weight: bold;
}

.portfolio img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.portfolio .card-body {
  text-align: center;
}

/* Footer */
.footer .col-md-4 .left {
  transform: translate(0, 50px);
}

.footer .col-md-8 li {
  list-style-type: none;
  display: inline-block;
  padding: 40px 20px;
}

.footer .col-md-8 li i {
  text-decoration: none;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 15px;
  background-color: black;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  color: white;
}

/* Media */
@media (max-width: 767px) {
  .header li {
    display: inline;
    padding-right: 40px;
  }
  .header .col {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15px);
    position: absolute;
  }
  .header ul {
    text-align: center;
    display: -ms-grid;
    display: grid;
    margin-top: -30px;
  }
  .services .col-md-4 {
    margin-top: -10px;
  }
  .left {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer {
    max-width: 90%;
  }
  .footer .links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .footer .links li {
    padding: 1px;
  }
  .col-md-4 .left {
    padding-bottom: 20px;
  }
  .col-md-3 h2 {
    transform: translatex(-50px);
  }
  .col {
    margin-top: 35px;
  }
  .col h2, .col h3 {
    line-height: 0.7;
  }
}
/*# sourceMappingURL=style.css.map */