/* Variables */

$font-header-left: 'Dancing Script', cursive;
$font-header-menu: 'Satisfy', cursive;
$font-header-title: 'Cuprum', sans-serif;
$font-heading: 'Vidaloka', serif;
$font-text: 'Cormorant Garamond', serif;

/* Global */

h2, h3 {
  font-family: $font-heading;
  font-size: 30px;
}

p{
  font-family: $font-text;
  font-size: 22px;
  color: #bdc3c7;
  line-height: 0.9;
}

/* Header */

.header {
  background-image: url(https://images.pexels.com/photos/1841841/pexels-photo-1841841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  object-fit: contain;
  height: 100vh;
  padding: 20px 20px;
  .col-md-3 h2 {
    font-family: $font-header-left;
    color: #f39c12;
    font-size: 22px;
    padding-left: 50px;
}
  ul{
      padding-right: 50px;
  }
  li {
    list-style-type: none;
    display: inline-block;
    float: right;
}
  a {
    font-family: $font-header-menu;
    text-decoration: none;
    color: #bdc3c7;
    font-size: 18px;
    padding: 10px;

}
  .col {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    h2, h3 {
      font-family: $font-header-title;
      color: #bdc3c7;
      text-align: center;
  }
}
  h3 {
    font-size: 40px;
    font-weight: bold;
}
  .btn-header {
    display: flex;
    justify-content: center;
    .btn {
      background-color: #f39c12;
      font-weight: bold;
      border: none;
      border-radius: 0;
    }
  }
}

/* Services */

.services {
    display: flex;
    text-align: center;
  .col-12 {
    margin-top: 70px;
    h3 {
      font-size: 50px;
      font-weight: bold;
    }
}
  .col-md-4 {
    margin: 100px auto;
    h3{
      font-size: 22px;
      font-weight:  bolder;
    }
    i {
      font-size: 50px;
      margin: 10px 0;
      padding-bottom: 10px;
      color: #f39c12;
    }
  }
}

/* Portfolio */
.portfolio {
  background-color: #f1f2f6;
  .card{
    margin-bottom: 50px;
  }
  .col-12 {
    margin: 50px 0;
    text-align: center;
    h2{
      font-size: 50px;
      font-weight: bold;
    }
  }
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .card-body{
    text-align: center;
  }
}

/* Footer */
.footer {
  .col-md-4 .left {
    transform: translate(0, 50px);
}
  .col-md-8 li {
    list-style-type: none;
    display: inline-block;
    padding: 40px 20px;
    i {
      text-decoration: none;
      justify-content: center;
      padding-top: 15px;
      background-color: black;
      font-size: 20px;
      height: 50px;
      width: 50px;
      text-align: center;
      border-radius: 50%;
      color: white;
    }
  }
}


/* Media */

@media (max-width: 767px) {
  .header li {
    display: inline;
    padding-right: 40px;
  }
  .header .col {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15px);
    position: absolute;
  }
   .header ul {
      text-align: center;
  }
  .services .col-md-4 {
    margin-top: -10px;
    }
  .left {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer {
    .links {
      display: flex;
      justify-content: center;
      li {
        padding: 1px;
    }
  }
}
  .col-md-4 {
    .left{
      border: 2px solid red;
      padding-bottom: 10px;
    }
  }
}
  .col-md-3 h2 {
    transform: translatex(-50px);
  }
